#!/usr/bin/env sh
################################################################################
#
# Author: Gustavo Yokoyama Ribeiro <gyr AT protonmail DOT ch>
# File:  virtualenvwrapper.rc
# Update: 20150602
# (C) Copyright 2015 Gustavo Yokoyama Ribeiro
# Licensed under CreativeCommons Attribution-ShareAlike 3.0 Unsupported
# http://creativecommons.org/licenses/by-sa/3.0/ for more info.
# Description: 
# Usage: 
#
################################################################################

# user local
# pip install --user virtualenvwrapper
if [ -f "${HOME}/.local/bin/virtualenvwrapper.sh" ]; then
    VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
    export WORKON_HOME=${HOME}/.virtualenvs
    source ${HOME}/.local/bin/virtualenvwrapper.sh
fi

# vim: set filetype=sh fileformat=unix foldmethod=indent
