#!/usr/bin/env sh
################################################################################
#
# Author: Gustavo Yokoyama Ribeiro <gyr AT protonmail DOT ch>
# File:  virtualenvwrapper.rc
# Update: 20150602
# (C) Copyright 2015 Gustavo Yokoyama Ribeiro
# Licensed under CreativeCommons Attribution-ShareAlike 3.0 Unsupported
# http://creativecommons.org/licenses/by-sa/3.0/ for more info.
# Description: 
# Usage: 
#
################################################################################

# fedora
if [ -f '/usr/bin/virtualenvwrapper.sh' ]; then
    _virtualenvwrapper_sh='/usr/bin/virtualenvwrapper.sh'
# debian
elif [ -f '/usr/share/virtualenvwrapper/virtualenvwrapper.sh' ]; then
    _virtualenvwrapper_sh='/usr/share/virtualenvwrapper/virtualenvwrapper.sh'
# darwin
elif [ -f '/usr/local/bin/virtualenvwrapper.sh' ]; then
    _virtualenvwrapper_sh='/usr/local/bin/virtualenvwrapper.sh'
fi

if [ -n "${_virtualenvwrapper_sh}" ]; then
    export WORKON_HOME=${HOME}/.virtualenvs
    source ${_virtualenvwrapper_sh}
fi

# vim: set filetype=sh fileformat=unix foldmethod=indent
